<div class="container site-section" id="featured">
    <h1>Featured Homes</h1>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <a href="sample house.jpg" target="_blank"> </a><img src="../public/images/sample_house1.jpeg" class="img-responsive house-img" />
                    <div class="row house-text-details">
                        <div class="col-md-12">
                            <p>$9,999,999 </p>
                        </div>
                        <div class="col-md-12">
                            <p>1600 Holloway Ave San Francisco, CA 94132</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <a href="sample house.jpg" target="_blank"> </a><img src="../../../public/images/sample_house2.jpeg" class="img-responsive house-img" />
                    <div class="row house-text-details">
                        <div class="col-md-12">
                            <p>$9,999,999 </p>
                        </div>
                        <div class="col-md-12">
                            <p>1600 Holloway Ave San Francisco, CA 94132</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <a href="sample house.jpg" target="_blank"> </a><img src="/public/images/sample_house3.jpeg" class="img-responsive house-img" />
                    <div class="row house-text-details">
                        <div class="col-md-12">
                            <p>$9,999,999 </p>
                        </div>
                        <div class="col-md-12">
                            <p>1600 Holloway Ave San Francisco, CA 94132</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <a href="sample house.jpg" target="_blank"> </a><img src="public/images/sample_house4.jpeg" class="img-responsive house-img" />
                    <div class="row house-text-details">
                        <div class="col-md-12">
                            <p>$9,999,999 </p>
                        </div>
                        <div class="col-md-12">
                            <p>1600 Holloway Ave San Francisco, CA 94132</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>