<div class="footer-basic">
    <footer>
        <ul class="list-inline">
            <li><a href="/home">Home</a></li>
            <li><a href="/browse">Browse </a></li>
            <li><a href="/about">About</a></li>
            <li><a href="#">Terms</a></li>
            <li><a href="#">Privacy Policy</a></li>
        </ul>
        <p class="copyright">Dream Home © 2017</p>
    </footer>
</div>