<div class="footer-basic">
    <footer>
        <ul class="list-inline">
            <li><a href="/fa17g05/home">Home</a></li>
            <li><a href="/fa17g05/about">About</a></li>
            <li><a href="#">Terms</a></li>
            <li><a href="/privacypolicy">Privacy Policy</a></li>
        </ul>
        <p class="copyright">Dream Home © 2017</p>
    </footer>
</div>
