<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header"><a href="#" class="navbar-brand" style="color:#ffffff;"><strong>Dream Home</strong></a>
            <button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
        </div>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav navbar-right">
                <li role="presentation"><a href="#" style="color:#ffffff;">About </a></li>
                <li role="presentation"><a href="#" style="color:#ffffff;">Agent </a></li>
                <li role="presentation"><a href="#" style="color:#ffffff;">Login </a></li>
            </ul>
        </div>
    </div>
</nav>