<nav class = "navbar navbar-default" role= "navigation">
    
            <div class = "container-fluid">
             
            <div class = "navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav" aria-expanded="false" aria-controls="nav">
                <span class="sr-only">Toggle navigation</span>
                <div class="icon-bar"></div>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                
                <a class = "navbar-brand" href = "/home">Dream Home</a>
            </div>
                    
            <div class = "collapse navbar-collapse" id ="nav" >   
            
              <ul class="nav navbar-nav navbar-right">
                <li><a href = "/about">About</a></li>
                <li><a href="/user/signup">Seller</a></li>
                <li class="dropdown" id = "login">
                  <a href="#" data-toggle="dropdown" class="dropdown-toggle">Login</a>
                    <div class="dropdown-menu" id="formLogin">
                        <div class="row">
                            <div class="container-fluid">
                                <form action="/user/login" method="post" class="">
                                    <div class="form-group">
                                        <label class="">Email</label>
                                        <input class="form-control" name="email" id="email" type="email" required>
                                    </div>
                                    <div class="form-group">
                                        <label class="">Password</label>
                                        <input class="form-control" name="password" id="password" type="password" required>
                                        <br class="">
                                    </div>
                                    <button type="submit" id="btnLogin" class="btn btn-success btn-sm">Login</button>
                                    <a href="/user/signup" id = "account">Create Account</a>
                                </form>
                            </div>
                        </div>
                        <a href="/user/logout" id = "logout">Log Out</a>
                    </div>
                </li>    

				<li><a href="/user/dashboard">Dashboard</a></li>

              </ul>

             </div>
                
            </div>      
        
       </nav>
