<div class="container" id="search">
    <form class="search-form" action="/search" method="get">
        <div class="input-group">
            <div class="input-group-addon"><span><i class="glyphicon glyphicon-search"></i></span></div>
            <input id="search_box" type="text" placeholder="Enter adress, city, state, or zip" class="form-control" name="search_text" maxlength = "40" value = "<%=pass_search_text%>" />
            <div class="input-group-btn">
                <button id="search_button" class="btn btn-default" type="submit">Search </button>
            </div>
        </div>
    </form>
</div>

