<div class="col-sm-12">
    <table class="table">
        <thead>
            <tr>
                <th>Message Date</th>
                <th>Property</th>
                <th>Buyer</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>