<div id="welcome" class="site-section">
    <h1>Dream Home</h1>
    <p>Dream Home is a real estate website designed for individuals looking for their
        new dream home and real estate agents selling potential dream homes. </p>
</div>