<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="stylesheets/main.css" type="text/css">
	</head>

	<body>
			<h1 class="text-center">Software Engineering class SFSU Fall 2017 Section 2 Team 5</h1>
			<div class="text-center">
				<h3>James Hinds</h3>
				<p>Student at SFSU.</p>
			</div>
	</body>
</html>
