<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="stylesheets/main.css" type="text/css">
	</head>
	
	<body>
		<h1 class="text-center">Software Engineering class SFSU<br>Fall 2017<br>Section 2<br>Team 5</h1>
		<div>
			<h2 class="text-center">Lead</h2>
			<div class="row">
				<div class="text-center">
					<a href="#"><button type="button" class="btn btn-primary">Sophie Tait</button></a>
				</div>
			</div>
			<div class="row">
				<div class="text-center">
					<h2>Front-End</h2>
					<div><a href="#"><button type="button" class="btn btn-primary">Bravolly Pich</button></a></div>
					<div><a href="#"><button type="button" class="btn btn-primary">Brendan Kelly</button></a></div>
					<div><a href="#"><button type="button" class="btn btn-primary">Steve Cardenas</button></a></div>
				</div>
				<div class="text-center">
					<h2>Back-End</h2>
					<div><a href="#"><button type="button" class="btn btn-primary">Supritha Amudhu</button></a></div>
					<div><a href="#"><button type="button" class="btn btn-primary">Em Calderaz</button></a></div>
					<div><a href="aboutJames"><button type="button" class="btn btn-primary">James Hinds</button></a></div>
				</div>
			</div>
		</div>
	</body>
</html>
