<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel = "stylesheet" href = "bootstrap/css/bootstrap.min.css" type = "text/css"> </link>
		<link rel="stylesheet" href="stylesheets/main.css" type = "text/css">
	</head>
	<body>
		<div class="container text-center">
			<div class="row">
				<div class="col-sm-12 page-header">
					<h3 style ="text-align: center; color: blue; ">SFSU Software Engineering Project, Fall 2017.  For Demonstration Only</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<h1 class="text-center">Software Engineering class SFSU<p>Fall 2017</p><p>Section 2</p><p>Team 5</p></h1>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">

					<!-- Link to about page -->
					<a href="about"><button type="button" class="btn btn-primary">About Page</button></a>

					<!-- Link to browse page -->
					<a href="browse"><button type="button" class="btn btn-primary">Browse</button></a>

					<!-- Search bar -->
					<form action="search" method="get">
						<input type="text" name="q"><br>
						<input type="submit" value="search">
					</form>
					<!-- end Search bar -->

				</div>
			</div>
		</div>
	</body>

</html>
