<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel = "stylesheet" href = "bootstrap/css/bootstrap.min.css" type = "text/css"> </link>
		<link rel="stylesheet" href="stylesheets/main.css" type = "text/css">
	</head>
	
	<body>
		<h1 class="text-center">Software Engineering class SFSU<p>Fall 2017</p><p>Section 2</p><p>Team 5</p></h1>
		<div>
			<div class="row">
				<div class="text-center">

					<!-- Link to about page -->
					<a href="about"><button type="button" class="btn btn-primary">About Page</button></a>

					<!-- Search bar -->
					<form action="search" method="get">
						<input type="text" name="q"><br>
						<input type="submit" value="search">
					</form>
					<!-- end Search bar -->

				</div>
			</div>
		</div>
	</body>
</html>
