<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel = "stylesheet" href="../bootstrap/css/bootstrap.min.css" type = "text/css"> </link>
    <link rel="stylesheet" href="../stylesheets/main.css" type = "text/css">
    <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch" rel="stylesheet">
    <script src = "../bootstrap/js/jquery.min.js"></script>
    <script src = "../bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
    <% include ../partials/disclaimer.ejs %>
    <% include ../partials/navbar.ejs %>
    <div>
        <h1 id="dashboard-title"><%= userData.first_name %> <%= userData.last_name %>'s Dashboard </h1>
    </div>
    <div class="panel panel-default">
        <ul class="nav nav-tabs panel-heading">
            <li class="active"><a href="#tab-1" role="tab" data-toggle="tab">Listings</a></li>
            <li><a href="#tab-2" role="tab" data-toggle="tab">Messages</a></li>
        </ul>
        <div class="tab-content panel-body">
            <div role="tabpanel" class="tab-pane active" id="tab-1">
                <% include ../partials/sellerListings.ejs%>
            </div>
            <div role="tabpanel" class="tab-pane" id="tab-2">
                <!-- Code for Messages Layout -->
            </div>
        </div>
    </div>
    <% include ../partials/footer.ejs %>
</body>
</html>
