<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel = "stylesheet" href="../bootstrap/css/bootstrap.min.css" type = "text/css"> </link>
		<link rel="stylesheet" href="../stylesheets/main.css" type = "text/css">
                <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch" rel="stylesheet">
                <script src = "../bootstrap/js/jquery.min.js"></script>
                <script src = "../bootstrap/js/bootstrap.min.js"></script>
	</head>
	<body>
            <% include ../partials/disclaimer.ejs %>
            <% include ../partials/navbar.ejs %>
             
                <h1> Seller Sign up </h1>
			<!-- signup form -->
			<div class="row">
				<div class="col-sm-12">
					<form action="/user/signup" method="post">
						<div class="form-group">
							<label for="firstName">First Name:</label>
							<input type="text" class="form-control" id="firstName" placeholder="Enter First name" name="firstName" required>
						</div>
						<div class="form-group">
							<label for="lastName">Last Name:</label>
							<input type="text" class="form-control" id="lastName" placeholder="Enter Last name" name="lastName" required>
						</div>
						<div class="form-group">
							<label for="email">Email:</label>
							<input type="email" class="form-control" id="email" placeholder="Enter email" name="email" required>
						</div>
						<div class="form-group">
							<label for="password">Password:</label>
							<input type="password" class="form-control" id="password" placeholder="Enter password" name="password" required>
						</div>
						<div class="form-group">
							<label for="type">Buyer/Seller:</label>
							<div class="radio">
								<label><input type="radio" name="userType" value="0">Buyer</label>
								</div>
								<div class="radio">
								<label><input type="radio" name="userType" value="1">Seller</label>
							</div>
						</div>
						<div class="form-check">
							<label class="form-check-label">
								<input type="checkbox" class="form-check-input" required>
								I Agree
							</label>
						</div>
						<button type="submit" class="btn btn-default">Submit</button>
					</form>
				</div>
			</div>
			<!-- end signupform -->
                        
		</div>
	</body>

</html>
