body {
    font-family:Arial, Helvetica, sans-serif;
}

.disclaimer {
    width:100%;
    text-align:center;
    background-color:#F46036;
    font-size:large;
    z-index:99;
}

.navbar.navbar-inverse {
    margin-top:-12px;
    border-color:#2E294E;
    background-color:#2E294E;
}

.site-section {
    text-align:center;
    padding-top:30px;
    padding-bottom:60px;
}

.site-section h1 {
    font-weight:normal;
    margin-bottom:30px;
}

#welcome {
    margin-top:-22px;
    padding-bottom:160px;
    background-image:url("../images/welcome.jpeg");
    background-position:50% 0%;
    background-size:cover;
}

#welcome h1 {
    color:#FAA916;
    font-size:60px;
    text-shadow:2px 2px 4px #000000;
}

#welcome p {
    max-width:800px;
    font-size:25px;
    margin:0 auto;
    color:#ffffff;
    text-shadow:2px 2px 4px #000000;
}

.search-form {
    margin:40px 5px;
    font:normal 12px sans-serif;
    box-shadow:1px 2px 4px 0 rgba(0, 0, 0, 0.08);
}

.search-form div.input-group-addon {
    background:#fff;
    color:#80A3BD;
    border-bottom-left-radius:2px;
    border-top-left-radius:2px;
    border:1px solid #b6c3cd;
    border-right:0;
}

.search-form .input-group input {
    background-color:#ffffff;
    box-shadow:none;
    color:#4E565C;
    outline:none;
    border:1px solid #b6c3cd;
    border-right:0;
    border-left:0;
}

.search-form div.input-group-btn button {
    border-bottom-right-radius:2px;
    border-top-right-radius:2px;
    background:#6caee0;
    box-shadow:1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    color:#ffffff;
    border-color:#6caee0;
    outline:none;
    opacity:0.9;
}

.search-form div.input-group-btn button:hover {
    opacity:1;
}

.search-form div.input-group-btn button:focus:active {
    background-color:#6caee0;
    color:#ffffff;
    outline:none;
}

#featured {
    margin-top:0px;
}

.img-responsive.house-img {
    margin:auto;
    width:205px;
    height:150px;
    min-width:100px;
    min-height:100px;
    object-fit:cover;
}

.house-text-details {
    font-size:24px;
}