<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel = "stylesheet" href = "bootstrap/css/bootstrap.min.css" type = "text/css"> </link>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="bootstrap/js/bootstrap.min.js"></script>
		<!-- <link rel="stylesheet" type="text/css" href="DataTables/datatables.min.css"/> -->
		<!-- <script type="text/javascript" src="DataTables/datatables.min.js"></script> -->
		<link rel="stylesheet" href="stylesheets/main.css" type = "text/css">
		<script src="scripts/main.js"></script>
	</head>

	<body>
		<div class="container text-center">

			<!-- display page header-->
			<div class="row">
				<div class="col-sm-12 page-header">
					<h3 style ="text-align: center; color: blue; ">SFSU Software Engineering Project, Fall 2017.  For Demonstration Only</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<h1 class="text-center">Software Engineering class SFSU<p>Fall 2017</p><p>Section 2</p><p>Team 5</p></h1>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">

					<!-- Link to home page -->
					<a href="home"><button type="button" class="btn btn-primary">Home Page</button></a>

					<!-- Link to about page -->
					<a href="about"><button type="button" class="btn btn-primary">About Page</button></a>

					<!-- Search bar -->
					<form action="search" method="get">
						<input type="text" name="search_text" id = "search_box" value = "<%=pass_search_text%>"><br>
						<input type="submit" value="Search" id ="search_button">
					</form>
					<!-- end Search bar -->

				</div>
			</div>
			<div class="row">
				<div class="dropdown">
				    <button id = "sort-by-price" class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Price
				    	<span class="caret"></span>
				    </button>
				    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
					    <li id = "LowToHigh" role="presentation"><a role="menuitem" tabindex="-1" href="#">Low-High</a></li>
					    <li id = "HighToLow" role="presentation"><a role="menuitem" tabindex="-1" href="#">High-Low</a></li>
				    </ul>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<!-- Display table of search results using ejs  -->
					<div class="table-responsive" id="searchResultsTable">
						<% include ../partials/searchResults.ejs %>
					</div>
				</div>
			</div>

		</div>
	</body>
</html>
