<!DOCTYPE html>
<html>
	<head>
		<title>About James Hinds</title>

		<meta charset="utf-8">
		<link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css" type="text/css">
		<link rel="stylesheet" href="../stylesheets/main.css" type="text/css">
	</head>
	<body>
			<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h3>Software Engineering class SFSU Fall 2017 Section 2 Team 5</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<img src="../images/james_picture.jpg" class="img-responsive img-rounded" style="width: 70%" alt="Image">
				</div>
				<div class="col-sm-8">
					<h3>James Hinds</h3>
					<p>Student at SFSU.</p>
				</div>
			</div>
			</div>
	</body>
</html>
