
<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en">
    <head>
        <title>Steve.Cardenas</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- maxCDN Links -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div>
            <img align="middle" src = "../images/sfsu.jpg" alt="sfsuPhoto" style="width:720px;height:360px">
            <div>
                <div class="jumbotron text-center" style="background-color:darkmagenta; color:gold">
                    <h1 align ="jusitfy">Nosce te ipsum</h1>
                    <p align="middle">About myself:</p> 
                    <img align="middle" src="../images/steve.jpg" alt="self">
                </div>
            </div>
        </div>
        <div class ="row" style="background-color: darkmagenta; color:gold">
            <div class =" col-6 col-md-4">
                <h2>Background</h2>
                <p align ="justify"> Hey. My name is Steve Cardenas. I was born and raised in San Francisco. I became interested in computers around the time I was in sixth grade, though I would not learn to code until college. I am of Mexican descent. </p>
            </div>
            <div class="col-6 col-md-4">
                <h3>Why CSC?</h3>
                <p align ="justify"> I choose to study computer science because I felt it was my passion. Throughout my time at San Francisco State University, many professors have influenced me to continue onward to a higher degree. I study purely out of love.
            </div>
            <div class="col-6 col-md-4">
                <h4>Skills</h4>
                <ul>
                    <li>Swift learner</li>
                    <li>Cohesive understanding of OOP languages</li>
                    <li>Have worked retail for 1 year</li>
                    <li>Coding is fun!</li>
                </ul>
            </div>

        </div>



    </body>
</html>
