<!DOCTYPE html>
<html lang="en">
<head>
  <title>About Supritha Amudhu</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="../stylesheets/main.css" type = "text/css">
</head>
<body>
<div class="container">
<div class="row">
  <div class="col-sm-8 text-left"> 
      <h1>Supritha Amudhu</h1>
      <div>
      <p>
      	I am a Web Developer with 4 years of experience with Web Application Development and Performance Engieering. I love coding and working with UI. My undergrad was in Computer Science, so I decided to study more about it. I am always thrilled to learn new languages and explore it.
      </p>
      <p>
      	One more thing that I love doing is reading books, books, and hey did I mention books? I have poems, stories and blog entries that I maintain. I love binge watching TV series and movies. I also love swimming and working out whenever I have time.
  	  </p>
  	  <p>
      	Authors that thrill me the most are JK Rowling (I am a Harry Potter freak), Stephen King (Who doesn't like his stories?), George R R Martin (duh!), Dan Brown, Nicholas Sparks, Cecelia Ahern and Jane Austen. Oh, and Arthur Conan Doyle.
  	  </p>
  	</div>
    </div>
  <div class="col-sm-4">
    <div class="panel-body"><img src="../images/supritha_picture.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
  </div>
</div>
<hr>
</div>

<div class="container text-center">    
  <h3>Skills</h3>
  <br>
  <div class="row">
    <div class="col-sm-3">
       <div class = "button-padding"><a href="https://en.wikipedia.org/wiki/Ruby_on_Rails" target = "_"><button type="button" class="btn btn-primary">Ruby on Rails</button></a></div>
       <div class = "button-padding"><a href="https://en.wikipedia.org/wiki/Java" target = "_"><button type="button" class="btn btn-primary">Java</button></a></div>
    </div>
    <div class="col-sm-3">
       <div class = "button-padding"><a href="https://en.wikipedia.org/wiki/Java_Platform,_Enterprise_Edition" target = "_"><button type="button" class="btn btn-primary">J2EE</button></a></div>
       <div class = "button-padding"><a href="https://en.wikipedia.org/wiki/HTML5" target = "_"><button type="button" class="btn btn-primary">HTML5</button></a></div>
    </div>  
    <div class="col-sm-3">
       <div class = "button-padding"><a href="https://en.wikipedia.org/wiki/Cascading_Style_Sheets#CSS_3" target = "_"><button type="button" class="btn btn-primary">CSS3</button></a></div>
       <div class = "button-padding"><a href="https://en.wikipedia.org/wiki/JavaScript" target = "_"><button type="button" class="btn btn-primary">Javascript</button></a></div>
    </div> 
    <div class="col-sm-3">
       <div class = "button-padding"><a href="https://en.wikipedia.org/wiki/JQuery" target = "_"><button type="button" class="btn btn-primary">jQuery</button></a></div>
       <div class = "button-padding"><a href="https://en.wikipedia.org/wiki/HP_LoadRunner" target = "_"><button type="button" class="btn btn-primary">Load Runner</button></a></div>
    </div> 
  </div>
  <hr>
</div>

</body>
</html>
