<!DOCTYPE html>
<html lang="en">
<head>
  <title>About Brendan Kelly</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="../stylesheets/main.css" type="text/css"> 
  <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch" rel="stylesheet">
	<script src = "bootstrap/js/jquery.min.js"></script>
	<script src = "bootstrap/js/bootstrap.min.js"></script>
</head>    

<body>
    <% include ../partials/disclaimer.ejs %>
    <% include ../partials/navbar.ejs %>
    <h1>About Brendan</h1>
    <img src = "../images/brendan-profile.jpg">
    <p>This is the about me page for our 648 group this semester <br>
        More info will be added later <br>
    </p>
    <% include ../partials/footer.ejs %>
</body>
    
</html>
