<!DOCTYPE html>
<html lang="en">
<head>
  <title>About Bravolly Pich</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="../stylesheets/main.css" type = "text/css">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="text-center">
        <h1>Bravolly Pich</h1>
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
          <img src="../images/bravolly_profile.jpg" class="img-responsive" alt="Image">
        </div>
        <div class="col-sm-4">
        </div>
      </div>
    </div>
  </div>
</body>
</html>
