<!DOCTYPE html> 
<html>
<head>	
		<meta charset="utf-8">
		<link rel="stylesheet" href="../stylesheets/main.css" type = "text/css">
</head>

<body style = "background-color:lavender;">


 <h1 style="text-align:center">Sophie Tait</h1>
 <h2 style="text-align:center">CSC 648-848 Fall 2017 M0 Section 02 Team 05 </h2>
 <p style="text-align:center">Undergraduate student at SFSU</p>


 <div class="col-sm-4">
    <center>
        <img src="../images/sophie.jpg" class"=img-responsive" align="middle" alt="Image">
    </center>
</div>

</body>
</html>
