<!DOCTYPE html> 
<html>
<head>	
		<title>Saengduean Calderza</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css" type="text/css">
		<link rel="stylesheet" href="../stylesheets/main.css" type = "text/css">

</head>

<body style = "background-color:powderblue;">
	 <div class="container">
      <div class="row">
       <div class="text-center">
         <h1>Saengduean Caleraz</h1>
     	<div class="col-sm-4">
     </div>
	   <div class="col-sm-4">
     	<img src="../images/Saengduean_picture.jpg" class="img-responsive" alt="Image">
     	  <p>I am a student at SFSU. This page will be use as a part of Software Engineering class.</p>
        <div class="col-sm-4">
         </div>
   
</body>
</html>
