<!DOCTYPE html>
<html lang="en">
    <head>
        <title>About Bravolly Pich</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="../stylesheets/main.css" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Cabin+Sketch" rel="stylesheet">
		<script src = "bootstrap/js/jquery.min.js"></script>
		<script src = "bootstrap/js/bootstrap.min.js"></script>
    </head>
    <body>
        <% include ../partials/disclaimer.ejs %>
        <% include ../partials/navbar.ejs %>
        <div class="container">
            <div class="row">
                <div class="text-center">
                    <h1>Bravolly Pich</h1>
                    <div class="col-sm-4">
                    </div>
                    <div class="col-sm-4">
                        <img src="../images/bravolly_profile.jpg" class="img-responsive" alt="Image">
                    </div>
                    <div class="col-sm-4">
                    </div>
                </div>
            </div>
        </div>
        <% include ../partials/footer.ejs %>
    </body>
</html>
