<!DOCTYPE html>
<html lang="en">
<head>
  <title>About Brendan Kelly</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="../stylesheets/main.css" type="text/css"> 
</head>    

<body>
    <h1>About Brendan</h1>
    <img src = "../images/brendan-profile.jpg">
    <p>This is the about me page for our 648 group this semester <br>
        More info will be added later <br>
    </p>
</body>
    
</html>
